In [15]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
import csv

In [16]:
# WARNING THIS DATASET IS & MILLION ROWS LONG AND IT WILL TAKE A WHILE

In [17]:
# read the csv
columns = ['res_state','res_county','age_group','sex','race','ethnicity','hosp_yn']

target = ['hosp_yn']

In [19]:
df = pd.read_csv('connecticut_covid.csv')
df.head()

  res_state res_county       age_group     sex   race        ethnicity hosp_yn
0        CT  NEW HAVEN  18 to 49 years    Male  Black  Hispanic/Latino     Yes
1        CT  NEW HAVEN  18 to 49 years    Male  Black  Hispanic/Latino      No
2        CT  NEW HAVEN  18 to 49 years  Female  Black  Hispanic/Latino      No
3        CT  NEW HAVEN  18 to 49 years  Female  Black  Hispanic/Latino      No
4        CT  NEW HAVEN  18 to 49 years  Female  Black  Hispanic/Latino      No

In [20]:
df.count()

res_state     26365
res_county    26365
age_group     26365
sex           26365
race          26365
ethnicity     26365
hosp_yn       26365
dtype: int64

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26365 entries, 0 to 26364
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   res_state   26365 non-null  object
 1   res_county  26365 non-null  object
 2   age_group   26365 non-null  object
 3   sex         26365 non-null  object
 4   race        26365 non-null  object
 5   ethnicity   26365 non-null  object
 6   hosp_yn     26365 non-null  object
dtypes: object(7)
memory usage: 1.4+ MB

In [22]:
# split the data into trainign and testing

In [23]:
# Create our features, and drop the laon status and get dummies
X = df.drop('hosp_yn', axis=1)
X = pd.get_dummies(X)

# Create our target
y = df['hosp_yn']

In [24]:
X.describe()

,res_state_CT,res_county_FAIRFIELD,res_county_HARTFORD,res_county_LITCHFIELD,res_county_MIDDLESEX,res_county_NEW HAVEN,res_county_NEW LONDON,res_county_TOLLAND,res_county_WINDHAM,age_group_0 - 17 years,...,age_group_65+ years,sex_Female,sex_Male,race_American Indian/Alaska Native,race_Asian,race_Black,race_Multiple/Other,race_White,ethnicity_Hispanic/Latino,ethnicity_Non-Hispanic/Latino
count,26365.0,26365.000000,26365.000000,26365.000000,26365.000000,26365.000000,26365.000000,26365.000000,26365.000000,26365.000000,...,26365.000000,26365.000000,26365.000000,26365.000000,26365.000000,26365.000000,26365.000000,26365.000000,26365.000000,26365.000000
mean,1.0,0.229509,0.290650,0.041039,0.022492,0.343258,0.025564,0.040622,0.006865,0.032391,...,0.389152,0.553158,0.446842,0.000076,0.007510,0.209520,0.000986,0.781908,0.115304,0.884696
std,0.0,0.420525,0.454071,0.198385,0.148280,0.474806,0.157834,0.197417,0.082573,0.177041,...,0.487567,0.497176,0.497176,0.008709,0.086336,0.406974,0.031388,0.412958,0.319395,0.319395
min,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
50%,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
75%,1.0,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [25]:
y.value_counts()

No     17919
Yes     8446
Name: hosp_yn, dtype: int64

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
Counter(y_train)

Counter({'No': 13454, 'Yes': 6319})

In [27]:
# Oversampling
#naive random oversampling, resample the trainging data with the RandomOverSampler

In [28]:
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)

Counter(y_resampled)

Counter({'No': 13454, 'Yes': 13454})

In [29]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

C:\Users\afann\anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(random_state=1)

In [31]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
y_pred = model.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[2885, 1580],
       [ 516, 1611]], dtype=int64)

In [32]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test, y_pred)

0.7017707068138492

In [33]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

         No       0.85      0.65      0.76      0.73      0.70      0.48      4465
        Yes       0.50      0.76      0.65      0.61      0.70      0.49      2127

avg / total       0.74      0.68      0.72      0.69      0.70      0.49      6592

In [34]:
#SMOTE Oversampling

In [35]:
# Resample the training data with SMOTE
from imblearn.over_sampling import SMOTE
X_resampled, y_resampled = SMOTE(random_state=1,
sampling_strategy='auto').fit_resample(
   X_train, y_train)

In [36]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

C:\Users\afann\anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(random_state=1)

In [37]:
# Calculated the balanced accuracy score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.701871580189859

In [38]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[2888, 1577],
       [ 517, 1610]], dtype=int64)

In [39]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

         No       0.85      0.65      0.76      0.73      0.70      0.48      4465
        Yes       0.51      0.76      0.65      0.61      0.70      0.49      2127

avg / total       0.74      0.68      0.72      0.69      0.70      0.49      6592