In [1]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
import csv

In [2]:
# WARNING THIS DATASET IS & MILLION ROWS LONG AND IT WILL TAKE A WHILE

In [3]:
# read the csv
columns = ['res_state','res_county','age_group','sex','race','ethnicity','hosp_yn']

target = ['hosp_yn']

In [4]:
df = pd.read_csv('virginia_covid.csv')
df.head()

,res_state,res_county,age_group,sex,race,ethnicity,hosp_yn
0,VA,NORFOLK CITY,18 to 49 years,Female,Multiple/Other,Hispanic/Latino,No
1,VA,FREDERICK,18 to 49 years,Female,White,Hispanic/Latino,No
2,VA,FAIRFAX,18 to 49 years,Male,Black,Hispanic/Latino,No
3,VA,CULPEPER,18 to 49 years,Male,White,Hispanic/Latino,No
4,VA,ALBEMARLE,18 to 49 years,Male,White,Hispanic/Latino,No

In [5]:
df.count()

res_state     262838
res_county    262838
age_group     262838
sex           262838
race          262838
ethnicity     262838
hosp_yn       262838
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262838 entries, 0 to 262837
Data columns (total 7 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   res_state   262838 non-null  object
 1   res_county  262838 non-null  object
 2   age_group   262838 non-null  object
 3   sex         262838 non-null  object
 4   race        262838 non-null  object
 5   ethnicity   262838 non-null  object
 6   hosp_yn     262838 non-null  object
dtypes: object(7)
memory usage: 14.0+ MB

In [7]:
# split the data into trainign and testing

In [8]:
# Create our features, and drop the laon status and get dummies
X = df.drop('hosp_yn', axis=1)
X = pd.get_dummies(X)

# Create our target
y = df['hosp_yn']

In [9]:
X.describe()

,res_state_VA,res_county_ACCOMACK,res_county_ALBEMARLE,res_county_ALEXANDRIA CITY,res_county_AMHERST,res_county_ARLINGTON,res_county_AUGUSTA,res_county_BEDFORD,res_county_BOTETOURT,res_county_BUCHANAN,...,sex_Female,sex_Male,race_American Indian/Alaska Native,race_Asian,race_Black,race_Multiple/Other,race_Native Hawaiian/Other Pacific Islander,race_White,ethnicity_Hispanic/Latino,ethnicity_Non-Hispanic/Latino
count,262838.0,262838.000000,262838.000000,262838.000000,262838.000000,262838.000000,262838.000000,262838.000000,262838.000000,262838.000000,...,262838.000000,262838.000000,262838.000000,262838.000000,262838.000000,262838.000000,262838.000000,262838.000000,262838.000000,262838.000000
mean,1.0,0.006624,0.009272,0.023585,0.002656,0.029395,0.007906,0.007921,0.003455,0.002332,...,0.538415,0.461585,0.000053,0.057899,0.237138,0.033922,0.000057,0.670930,0.077797,0.922203
std,0.0,0.081117,0.095843,0.151752,0.051464,0.168910,0.088564,0.088648,0.058674,0.048237,...,0.498523,0.498523,0.007298,0.233552,0.425329,0.181029,0.007554,0.469876,0.267852,0.267852
min,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
75%,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000
max,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [10]:
y.value_counts()

No     244784
Yes     18054
Name: hosp_yn, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)
Counter(y_train)

Counter({'No': 183583, 'Yes': 13545})

In [12]:
# Oversampling
#naive random oversampling, resample the trainging data with the RandomOverSampler

In [13]:
from imblearn.over_sampling import RandomOverSampler
ros = RandomOverSampler(random_state=1)
X_resampled, y_resampled = ros.fit_resample(X_train, y_train)

Counter(y_resampled)

Counter({'No': 183583, 'Yes': 183583})

In [14]:
# Train the Logistic Regression model using the resampled data
from sklearn.linear_model import LogisticRegression

model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

C:\Users\afann\anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(random_state=1)

In [15]:
# Display the confusion matrix
from sklearn.metrics import confusion_matrix
y_pred = model.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[47413, 13788],
       [ 1220,  3289]], dtype=int64)

In [16]:
# Calculated the balanced accuracy score
from sklearn.metrics import balanced_accuracy_score
balanced_accuracy_score(y_test, y_pred)

0.7520697962002245

In [17]:
# Print the imbalanced classification report
from imblearn.metrics import classification_report_imbalanced
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

         No       0.97      0.77      0.73      0.86      0.75      0.57     61201
        Yes       0.19      0.73      0.77      0.30      0.75      0.56      4509

avg / total       0.92      0.77      0.73      0.83      0.75      0.57     65710

In [18]:
#SMOTE Oversampling

In [19]:
# Resample the training data with SMOTE
from imblearn.over_sampling import SMOTE
X_resampled, y_resampled = SMOTE(random_state=1,
sampling_strategy='auto').fit_resample(
   X_train, y_train)

In [20]:
# Train the Logistic Regression model using the resampled data
model = LogisticRegression(solver='lbfgs', random_state=1)
model.fit(X_resampled, y_resampled)

C:\Users\afann\anaconda3\envs\mlenv\lib\site-packages\sklearn\linear_model\_logistic.py:765: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(random_state=1)

In [21]:
# Calculated the balanced accuracy score
y_pred = model.predict(X_test)
balanced_accuracy_score(y_test, y_pred)

0.7528826289042332

In [22]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[48164, 13037],
       [ 1268,  3241]], dtype=int64)

In [23]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

         No       0.97      0.79      0.72      0.87      0.75      0.57     61201
        Yes       0.20      0.72      0.79      0.31      0.75      0.56      4509

avg / total       0.92      0.78      0.72      0.83      0.75      0.57     65710